@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width: 700px){
    #sidebar{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        bottom: 0;
       width: 100%;
       height: auto;
       padding: 2vmax;
       z-index: 999;
    }
    #rightbar{
        position: static;
        width: 100%;
    }
    #nav-side{
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    #nav-side button{
        margin-top: 0;
    }
    #main-box{
        display: flex;
        flex-direction: column;
    }
    #border-div{
      display: none;
    }
    #logo{
        display: none;
    }
    #logout{
        margin-bottom: 0;
    }
    #main-content{
        width: 100%;
        margin-left: 0;
    }
    #bookmark-box{
      width: 100%;
      margin-left: 0;
    }
    #main-chat-box{
      margin-left: 0%;
    }
    #chatInput{
      margin-bottom: 20%;
      z-index: 100;
    }
    #chatInput button{
      transform: scale(0.7);
      margin-left: -0.05vmax;
    }
    #chat-screen{
      margin-left: 0;
      width: 100%;
    }
    #chat-button{
      margin-top: 0px;
    }

    #chat-rightbar{
      display: none;
    }
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
    
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }


  .chat-div::-webkit-scrollbar {
    display: none; 
}
#scroll-div::-webkit-scrollbar {
  display: none;
}


.custom-toast{
  max-width: 80%;
}